 ### -REGREÇÃO LINEAR MÚLTIPLA

É mútipla pois nela são tratadas duas ou mais variáveis explicativas

In [336]:
%matplotlib inline
%matplotlib notebook
%reset -f
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from scipy.stats import norm, probplot
import statsmodels.api as sm
from mpl_toolkits.mplot3d import Axes3D

RANDOM_SEED = 42

np.random.seed(RANDOM_SEED)

### Ler o arquivo

In [337]:
df = pd.read_csv("tmdb_5000_movies.csv")

### limpeza do dataframe

In [338]:
df_novo = df.filter(['budget', 'genres', 'popularity', 'production_companies', 'production_countries',
                     'release_date', 'revenue', 'runtime', 'vote_average', 'vote_count'], axis=1)

### Função utilitária para fazer a regressão com constante adicionada

In [339]:
def regress(X,Y):
    X_cp = sm.add_constant(X)
    model = sm.OLS(Y,X_cp)
    results = model.fit()
    return results

### Analíse dos dados

.............


............


............

Criação de colunas com o nome dos generos, sendo 1 para quando o filme é daquela categoria e 0 para quando não é , isso foi feito para tirar a coluna genre

In [340]:
import json

genres = set()
for x in df_novo['genres']:
    for g in json.loads(x):
        genres.add(g["name"])

genres

{'Action',
 'Adventure',
 'Animation',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Foreign',
 'History',
 'Horror',
 'Music',
 'Mystery',
 'Romance',
 'Science Fiction',
 'TV Movie',
 'Thriller',
 'War',
 'Western'}

criacao do novo dataframe incluindo as novas colunas de genero

In [341]:
def extrai_generos(item):
    generos = {'c_' + x: 0 for x in ['Action', 'Adventure', 'Animation', 'Comedy', 'Crime', 
                              'Documentary', 'Drama', 'Family', 'Fantasy', 'Foreign', 
                              'History', 'Horror', 'Music', 'Mystery', 'Romance', 
                              'Science Fiction', 'TV Movie', 'Thriller', 'War', 'Western']}
    for g in json.loads(item):
        generos['c_' + g['name']] += 1
    return generos

df_teste = pd.DataFrame(list(df_novo['genres'].apply(extrai_generos).values))
df_junto = df_novo.join(df_teste)

In [342]:
df_junto

,budget,genres,popularity,production_companies,production_countries,release_date,revenue,runtime,vote_average,vote_count,...,c_History,c_Horror,c_Music,c_Mystery,c_Romance,c_Science Fiction,c_TV Movie,c_Thriller,c_War,c_Western
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,7.2,11800,...,0,0,0,0,0,1,0,0,0,0
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,6.9,4500,...,0,0,0,0,0,0,0,0,0,0
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,6.3,4466,...,0,0,0,0,0,0,0,0,0,0
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,7.6,9106,...,0,0,0,0,0,0,0,1,0,0
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,6.1,2124,...,0,0,0,0,0,1,0,0,0,0
5,258000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",115.699814,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-01,890871626,139.0,5.9,3576,...,0,0,0,0,0,0,0,0,0,0
6,260000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",48.681969,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2010-11-24,591794936,100.0,7.4,3330,...,0,0,0,0,0,0,0,0,0,0
7,280000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",134.279229,"[{""name"": ""Marvel Studios"", ""id"": 420}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-04-22,1405403694,141.0,7.3,6767,...,0,0,0,0,0,1,0,0,0,0
8,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",98.885637,"[{""name"": ""Warner Bros."", ""id"": 6194}, {""name""...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2009-07-07,933959197,153.0,7.4,5293,...,0,0,0,0,0,0,0,0,0,0
9,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",155.790452,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""A...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2016-03-23,873260194,151.0,5.7,7004,...,0,0,0,0,0,0,0,0,0,0
10,270000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",57.925623,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""L...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2006-06-28,391081192,154.0,5.4,1400,...,0,0,0,0,0,1,0,0,0,0
11,200000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",107.928811,"[{""name"": ""Eon Productions"", ""id"": 7576}]","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2008-10-30,586090727,106.0,6.1,2965,...,0,0,0,0,0,0,0,1,0,0
12,200000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",145.847379,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""JM"", ""name"": ""Jamaica""}, {""is...",2006-06-20,1065659812,151.0,7.0,5246,...,0,0,0,0,0,0,0,0,0,0
13,255000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49.046956,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-07-03,89289910,149.0,5.9,2311,...,0,0,0,0,0,0,0,0,0,1
14,225000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",99.398009,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2013-06-12,662845518,143.0,6.5,6359,...,0,0,0,0,0,1,0,0,0,0
15,225000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",53.978602,"[{""name"": ""Walt Disney"", ""id"": 5888}, {""name"":...","[{""iso_3166_1"": ""CZ"", ""name"": ""Czech Republic""...",2008-05-15,419651413,150.0,6.3,1630,...,0,0,0,0,0,0,0,0,0,0
16,220000000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",144.448633,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-04-25,1519557910,143.0,7.4,11776,...,0,0,0,0,0,1,0,0,0,0
17,380000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",135.413856,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2011-05-14,1045713802,136.0,6.4,4948,...,0,0,0,0,0,0,0,0,0,0
18,225000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 35, ""nam...",52.035179,"[{""name"": ""Amblin Entertainment"", ""id"": 56}, {...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-23,624026776,106.0,6.2,4160,...,0,0,0,0,0,1,0,0,0,0
19,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",120.965743,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...","[{""iso_3166_1"": ""NZ"", ""name"": ""New Zealand""}, ...",2014-12-10,956019788,144.0,7.1,4760,...,0,0,0,0,0,0,0,0,0,0
20,215000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",89.866276,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-06-27,752215857,136.0,6.5,6586,...,0,0,0,0,0,0,0,0,0,0
21,200000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",37.668301,"[{""name"": ""Imagine Entertainment"", ""id"": 23}, ...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2010-05-12,310669540,140.0,6.2,1398,...,0,0,0,0,0,0,0,0,0,0
22,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",94.370564,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...","[{""iso_3166_1"": ""NZ"", ""name"": ""New Zealand""}, ...",2013-12-11,958400000,161.0,7.6,4524,...,0,0,0,0,0,0,0,0,0,0
23,180000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",42.990906,"[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2007-12-04,372234864,113.0,5.8,1303,...,0,0,0,0,0,0,0,0,0,0
24,207000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",61.226010,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...","[{""iso_3166_1"": ""NZ"", ""name"": ""New Zealand""}, ...",2005-12-14,550000000,187.0,6.6,2337,...,0,0,0,0,0,0,0,0,0,0
25,200000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",100.025899,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1997-11-18,1845034188,194.0,7.5,7562,...,0,0,0,0,1,0,0,1,0,0
26,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",198.372395,"[{""name"": ""Studio Babelsberg"", ""id"": 264}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2016-04-27,1153304495,147.0,7.1,7241,...,0,0,0,0,0,1,0,0,0,0
27,209000000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 28, ""n...",64.928382,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-04-11,303025485,131.0,5.5,2114,...,0,0,0,0,0,1,0,1,0,0
28,150000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",418.708552,"[{""name"": ""Universal Studios"", ""id"": 13}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-06-09,1513528810,124.0,6.5,8662,...,0,0,0,0,0,1,0,1,0,0
29,200000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",93.004993,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2012-10-25,1108561013,143.0,6.9,7604,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4773,27000,"[{""id"": 35, ""name"": ""Comedy""}]",19.748658,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1994-09-13,3151130,92.0,7.4,755,...,0,0,0,0,0,0,0,0,0,0
4774,27000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",0.027811,"[{""name"": ""Strand Releasing"", ""id"": 3923}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1971-01-01,0,64.0,6.0,9,...,0,0,0,0,1,0,0,0,0,0
4775,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",0.362633,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2002-09-20,76901,85.0,6.3,8,...,0,0,0,0,0,0,0,0,0,0
4776,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",2.634007,"[{""name"": ""Alliance Atlantis Communications"", ...","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",1997-01-19,0,97.0,6.8,44,...,0,0,0,0,0,0,0,0,0,0
4777,0,"[{""id"": 18, ""name"": ""Drama""}]",0.039264,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2002-01-15,0,78.0,5.5,2,...,0,0,0,0,0,0,0,0,0,0
4778,0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...",7.101197,"[{""name"": ""Boll Kino Beteiligungs GmbH & Co. K...","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",2009-08-14,0,85.0,6.0,131,...,0,0,0,0,0,0,0,1,0,0
4779,0,"[{""id"": 35, ""name"": ""Comedy""}]",3.320622,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1990-07-27,0,97.0,6.4,77,...,0,0,0,0,0,0,0,0,0,0
4780,0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 80, ""n...",0.038143,[],[],2015-10-02,0,90.0,0.0,0,...,0,0,0,0,0,0,0,1,0,0
4781,22000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",0.048948,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-02-14,0,90.0,6.0,1,...,0,0,0,0,1,0,0,0,0,0
4782,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10751, ""n...",1.048524,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2003-01-01,0,120.0,6.8,19,...,0,0,0,0,0,0,0,0,0,0
4783,0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 27, ""n...",3.619167,"[{""name"": ""GO Productions"", ""id"": 2943}, {""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-01-16,0,91.0,4.7,79,...,0,1,0,0,0,0,0,1,0,0
4784,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",1.243955,[],[],2005-01-17,0,85.0,6.2,15,...,0,0,0,0,1,0,0,0,0,0
4785,0,"[{""id"": 18, ""name"": ""Drama""}]",0.327794,[],"[{""iso_3166_1"": ""KE"", ""name"": ""Kenya""}]",2014-09-05,0,60.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
4786,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",0.674570,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-03-14,0,88.0,5.6,12,...,0,0,0,0,1,0,0,0,0,0
4787,0,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",3.545991,"[{""name"": ""Grindfest"", ""id"": 18818}]",[],2011-10-26,0,78.0,4.2,13,...,0,0,0,0,0,1,0,1,0,0
4788,12000,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 35, ""nam...",4.553644,"[{""name"": ""Dreamland Productions"", ""id"": 407}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1972-03-12,6000000,93.0,6.2,110,...,0,1,0,0,0,0,0,0,0,0
4789,0,"[{""id"": 18, ""name"": ""Drama""}]",1.464566,[],"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2004-09-01,0,111.0,6.7,17,...,0,0,0,0,0,0,0,0,0,0
4790,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10769, ""n...",1.193779,"[{""name"": ""Jafar Panahi Film Productions"", ""id...","[{""iso_3166_1"": ""IR"", ""name"": ""Iran""}]",2000-09-08,0,90.0,6.6,17,...,0,0,0,0,0,0,0,0,0,0
4791,13,"[{""id"": 27, ""name"": ""Horror""}]",0.332679,"[{""name"": ""Park Films"", ""id"": 21871}, {""name"":...","[{""iso_3166_1"": ""IE"", ""name"": ""Ireland""}]",2007-01-01,0,84.0,2.0,1,...,0,1,0,0,0,0,0,0,0,0
4792,20000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 27, ""name...",0.212443,"[{""name"": ""Daiei Studios"", ""id"": 881}]","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1997-11-06,99000,111.0,7.4,63,...,0,1,0,1,0,0,0,1,0,0
4793,0,"[{""id"": 18, ""name"": ""Drama""}]",0.029757,"[{""name"": ""Iconoclast Films"", ""id"": 26677}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2004-04-11,0,90.0,6.0,2,...,0,0,0,0,0,0,0,0,0,0
4794,0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 27, ""n...",0.166513,"[{""name"": ""Gold Lion Films"", ""id"": 37870}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-01-20,0,82.0,0.0,0,...,0,1,0,0,0,0,0,1,0,0
4795,0,"[{""id"": 18, ""name"": ""Drama""}]",0.918116,"[{""name"": ""Asylum Films"", ""id"": 10571}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1995-09-09,0,98.0,6.0,1,...,0,0,0,0,0,0,0,0,0,0
4796,7000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",23.307949,"[{""name"": ""Thinkfilm"", ""id"": 446}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2004-10-08,424760,77.0,6.9,658,...,0,0,0,0,0,1,0,1,0,0
4797,0,"[{""id"": 10769, ""name"": ""Foreign""}, {""id"": 53, ...",0.022173,[],[],2005-03-12,0,80.0,7.5,2,...,0,0,0,0,0,0,0,1,0,0
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,6.6,238,...,0,0,0,0,0,0,0,1,0,0
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",0.642552,[],[],2011-12-26,0,85.0,5.9,5,...,0,0,0,0,1,0,0,0,0,0
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,7.0,6,...,0,0,0,0,1,0,1,0,0,0
4801,0,[],0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,5.7,7,...,0,0,0,0,0,0,0,0,0,0
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,6.3,16,...,0,0,0,0,0,0,0,0,0,0

substituição dos '-' na coluna release date

In [343]:
df_junto['release_date'] = df_junto.release_date.str.replace("-", "")

Obtendo as variáveis resposta e preditora:]


-Variável resposta , ou seja , as notas do site IMDB


-Variável preditora , ou seja , todas as colunas que serão usadas para prever as notas dos filmes

In [344]:
df_sem_nan = df_junto.dropna()

In [345]:
Y = df_sem_nan['vote_average']

In [346]:
X = df_sem_nan[['budget', 'popularity','c_Action', 'c_Adventure', 'c_Animation', 'c_Comedy', 'c_Crime', 
            'c_Documentary', 'c_Drama', 'c_Family', 'c_Fantasy', 'c_Foreign', 'c_History', 'c_Horror',
              'c_Music', 'c_Mystery', 'c_Romance', 'c_Science Fiction', 'c_TV Movie', 'c_Thriller', 
              'c_War', 'c_Western', 'revenue', 'runtime', 'vote_count']]

In [347]:
contadordezerosbudgets = X.budget.value_counts (True)
contadordezerosrevenue = X.revenue.value_counts (True)
print(contadordezerosbudgets )
print(contadordezerosrevenue)

0            0.215833
20000000     0.030000
30000000     0.026667
25000000     0.026250
40000000     0.025625
15000000     0.024792
35000000     0.021250
50000000     0.021042
10000000     0.021042
60000000     0.017917
5000000      0.017500
12000000     0.016458
8000000      0.012917
70000000     0.012500
80000000     0.012292
18000000     0.012292
6000000      0.011458
7000000      0.011458
2000000      0.011250
45000000     0.010833
3000000      0.010625
4000000      0.010208
1000000      0.010000
75000000     0.009792
55000000     0.009375
28000000     0.008750
150000000    0.008542
13000000     0.008542
11000000     0.008542
100000000    0.008542
               ...
3705538      0.000208
12899867     0.000208
12305523     0.000208
180000       0.000208
16800000     0.000208
1350000      0.000208
777000       0.000208
127000000    0.000208
2686000      0.000208
3100000      0.000208
1650000      0.000208
1455000      0.000208
12516654     0.000208
5952000      0.000208
14200000     0.000208
97250400     0.000208
133000000    0.000208
78146652     0.000208
3730500      0.000208
46000        0.000208
7347125      0.000208
85000        0.000208
4300000      0.000208
19500000     0.000208
23600000     0.000208
41677699     0.000208
9600000      0.000208
51500000     0.000208
7800000      0.000208
40600000     0.000208
Name: budget, Length: 435, dtype: float64
0            0.296667
7000000      0.001250
8000000      0.001250
6000000      0.001042
12000000     0.001042
10000000     0.001042
100000000    0.001042
14000000     0.000833
25000000     0.000833
11000000     0.000833
5000000      0.000833
32000000     0.000625
13000000     0.000625
60000000     0.000625
7800000      0.000625
14400000     0.000625
4000000      0.000625
17000000     0.000625
30000000     0.000625
77000000     0.000417
20000000     0.000417
29000000     0.000417
42000000     0.000417
2200000      0.000417
8500000      0.000417
24000000     0.000417
102000000    0.000417
9000000      0.000417
15000000     0.000417
33400000     0.000417
               ...
157887643    0.000208
18195610     0.000208
482860185    0.000208
10501938     0.000208
325233863    0.000208
16633035     0.000208
53191886     0.000208
273552592    0.000208
47042000     0.000208
275293450    0.000208
786636033    0.000208
538400000    0.000208
32204030     0.000208
30411183     0.000208
91636986     0.000208
82087155     0.000208
82150642     0.000208
48190704     0.000208
104303851    0.000208
2401510      0.000208
15200000     0.000208
109906372    0.000208
83719388     0.000208
193355800    0.000208
136621271    0.000208
32726956     0.000208
4420000      0.000208
26096852     0.000208
79817939     0.000208
10680275     0.000208
Name: revenue, Length: 3297, dtype: float64

In [348]:
results = regress(X,Y)
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           vote_average   R-squared:                       0.275
Model:                            OLS   Adj. R-squared:                  0.272
Method:                 Least Squares   F-statistic:                     72.60
Date:                Wed, 07 Nov 2018   Prob (F-statistic):          1.75e-310
Time:                        18:08:20   Log-Likelihood:                -6865.4
No. Observations:                4800   AIC:                         1.378e+04
Df Residuals:                    4774   BIC:                         1.395e+04
Df Model:                          25
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                 4.0314      0.090     44.775      0.000       3.855       4.208
budget            -4.609e-09   5.74e-10     -8.035      0.000   -5.73e-09   -3.48e-09
popularity            0.0033      0.001      4.433      0.000       0.002       0.005
c_Action             -0.1350      0.042     -3.190      0.001      -0.218      -0.052
c_Adventure           0.0610      0.048      1.277      0.202      -0.033       0.155
c_Animation           0.7277      0.083      8.716      0.000       0.564       0.891
c_Comedy              0.0764      0.037      2.069      0.039       0.004       0.149
c_Crime               0.1987      0.046      4.309      0.000       0.108       0.289
c_Documentary         0.7501      0.105      7.144      0.000       0.544       0.956
c_Drama               0.4353      0.037     11.802      0.000       0.363       0.508
c_Family             -0.0384      0.060     -0.640      0.522      -0.156       0.079
c_Fantasy             0.0512      0.056      0.918      0.358      -0.058       0.161
c_Foreign             0.1709      0.175      0.974      0.330      -0.173       0.515
c_History             0.1049      0.082      1.285      0.199      -0.055       0.265
c_Horror             -0.0828      0.055     -1.517      0.129      -0.190       0.024
c_Music               0.1767      0.077      2.281      0.023       0.025       0.329
c_Mystery             0.0793      0.060      1.324      0.186      -0.038       0.197
c_Romance             0.0630      0.041      1.541      0.123      -0.017       0.143
c_Science Fiction    -0.0263      0.051     -0.517      0.605      -0.126       0.074
c_TV Movie           -0.1811      0.360     -0.504      0.615      -0.886       0.524
c_Thriller           -0.0212      0.041     -0.518      0.605      -0.102       0.059
c_War                 0.1652      0.092      1.789      0.074      -0.016       0.346
c_Western             0.0263      0.115      0.229      0.819      -0.199       0.251
revenue           -3.501e-10   1.74e-10     -2.007      0.045   -6.92e-10   -8.17e-12
runtime               0.0152      0.001     19.332      0.000       0.014       0.017
vote_count            0.0003   2.38e-05     13.130      0.000       0.000       0.000
==============================================================================
Omnibus:                     2558.314   Durbin-Watson:                   1.950
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            31202.251
Skew:                          -2.276   Prob(JB):                         0.00
Kurtosis:                      14.631   Cond. No.                     4.59e+09
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.59e+09. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

Separando o dataframe em teste e treinamento

In [349]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=RANDOM_SEED)

Treinando, criando , testando e calculando o modelo de regressão linear

In [350]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

model = LinearRegression()       #cria
model.fit(X_train, y_train)        #treina 
y_pred = model.predict(X_test)      #testa 

1 - mean_squared_error(y_test, y_pred) / np.var(y_test)

0.30683888822643923